@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import "../settings";

$font-1: "Poppins", sans-serif;


$black: #333;
$borderRadius: 20px;
$shadow: 0 1px 3px #333;

.sidebar {
    background: rgb(2, 0, 36);   
    min-height: 100vh;
    width: 20vw;
    position: relative;

    .navigation {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        
        a {
            height: 20vh;
            width: 100%;
            @include verticalCenter;
            font-size: 1.2rem;
            color: $color-1;
            transition: 0.3s ease;
            cursor: pointer;

            &:hover {
                background-color: $color-1;
                color:  rgb(2, 0, 36);

            }
        }
    }

    .socialNetwork {
        position: absolute;
        bottom: 0;
        right:0;
        transform: translateX(-50%);
        margin-bottom: 4rem;
        .fab {
            margin-top: 2rem;
            font-size: 2rem;
            color: $color-1;
        }
        ul {
            display: flex;
            justify-content: center;

            li {
                @include verticalCenter;
                height: 5vh;
                width: 5vw;
            }
        }
    }

    @media screen and (max-width: 850px) {
        .sidebar {
            display: flex;
            min-height: 28vh;

            .id,
            .socialNetwork {
                display: none;
            }
        }
    }
}
