@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.root {
  width: 100vw;
}

body {
  width: 100vw;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  color: #333;
  height: 100vh;
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.home, .knowledges, .portfolio, .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 850px) {
  .home, .knowledges, .portfolio, .contact {
    display: block !important;
  }
}

@media screen and (max-width: 850px) {
  .homeContent, .KnoledgesContent, .portfolioContent, .contactContent {
    margin-left: 0 !important;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.root {
  width: 100vw;
}

body {
  width: 100vw;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  color: #333;
  height: 100vh;
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.home, .knowledges, .portfolio, .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 850px) {
  .home, .knowledges, .portfolio, .contact {
    display: block !important;
  }
}

@media screen and (max-width: 850px) {
  .homeContent, .KnoledgesContent, .portfolioContent, .contactContent {
    margin-left: 0 !important;
  }
}

.sidebar {
  background: #020024;
  min-height: 100vh;
  width: 20vw;
  position: relative;
}

.sidebar .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sidebar .navigation a {
  height: 20vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  color: #e8edea;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}

.sidebar .navigation a:hover {
  background-color: #e8edea;
  color: #020024;
}

.sidebar .socialNetwork {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-bottom: 4rem;
}

.sidebar .socialNetwork .fab {
  margin-top: 2rem;
  font-size: 2rem;
  color: #e8edea;
}

.sidebar .socialNetwork ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sidebar .socialNetwork ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5vh;
  width: 5vw;
}

@media screen and (max-width: 850px) {
  .sidebar .sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 28vh;
  }
  .sidebar .sidebar .id,
  .sidebar .sidebar .socialNetwork {
    display: none;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.root {
  width: 100vw;
}

body {
  width: 100vw;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  color: #333;
  height: 100vh;
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.home, .knowledges, .portfolio, .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 850px) {
  .home, .knowledges, .portfolio, .contact {
    display: block !important;
  }
}

@media screen and (max-width: 850px) {
  .homeContent, .KnoledgesContent, .portfolioContent, .contactContent {
    margin-left: 0 !important;
  }
}

h1 {
  color: #e8edea;
  background-color: #020024;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.homeContent {
  width: 80vw;
  background-color: #e8edea;
}

.homeContent h2 {
  font-size: 7rem;
  text-align: center;
  background-image: url("/img/background-image.jpg");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.pdf {
  background-color: #020024;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.pdf a {
  color: #e8edea;
}

.pdf a:hover {
  color: orange;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.root {
  width: 100vw;
}

body {
  width: 100vw;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  color: #333;
  height: 100vh;
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.home, .knowledges, .portfolio, .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 850px) {
  .home, .knowledges, .portfolio, .contact {
    display: block !important;
  }
}

@media screen and (max-width: 850px) {
  .homeContent, .KnoledgesContent, .portfolioContent, .contactContent {
    margin-left: 0 !important;
  }
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #e8edea;
  width: 80vw;
  height: 100vh;
}

.project {
  width: 20vw;
  border-radius: 1rem;
  margin: 1rem;
  background-color: #020024;
  padding: 1rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.project h3 {
  border-radius: 5px 5px 0 0;
}

.project .languages {
  padding-left: 1rem;
  color: #e8edea;
}

.project .thumbnail {
  width: 100%;
  background-size: cover;
  border-radius: 0 0 5px 5px;
}

.project:hover {
  background-color: black;
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.root {
  width: 100vw;
}

body {
  width: 100vw;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  color: #333;
  height: 100vh;
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.home, .knowledges, .portfolio, .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 850px) {
  .home, .knowledges, .portfolio, .contact {
    display: block !important;
  }
}

@media screen and (max-width: 850px) {
  .homeContent, .KnoledgesContent, .portfolioContent, .contactContent {
    margin-left: 0 !important;
  }
}

.knowledgesContent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 80vw;
  background-color: #e8edea;
}

.languagesAndFrameworks {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: 1 / 1 / 3 / 6;
}

.experiences {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: 3 / 1 / 4 / 6;
}

.otherSkills {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 4 / 1 / 5 / 3;
  text-align: center;
}

.hobbies {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 4 / 3 / 5 / 5;
  text-align: center;
}

h3 {
  text-align: center;
  background-color: #020024;
  color: #e8edea;
}

.listLanguages {
  margin-left: 1rem;
}

.experiences p {
  margin-left: 1rem;
}
/*# sourceMappingURL=styles.css.map */